extends layout

block content
	h1.ui.huge.header My Top Golf Brands
	.innerContainer
		.ui.top.attached.segment
			.ui.divided.items
				for brand in brands
					.item
						.image
							img(src=brand.image)
						.content
							h3.header= brand.name
							.meta
								span.cinema= brand.created.toDateString()
							.description
								p= "I currently rank this at " + brand.rank + "/" + brands.length
							a(href="/brands/"+brand._id).ui.green.invert.button Discuss
							a(href="/brands/"+brand._id+"/edit").ui.yellow.invert.button Edit
							form(action="/brands/"+brand.id+"?_method=DELETE", method="POST").deleteBtnForm
								button.ui.red.invert.button Delete

