extends layout

block content
	.buffer
	.innerContainer
		.ui.container.segment
			h3.ui.huge.header Edit Brand
			form(action="/brands/"+brand._id+"?_method=PUT", method="POST").ui.form
				.field
					label Brand Name
					input(type="text", name="name", value=brand.name)
				.field
					label Brand Image
					input(type="text", name="image", value=brand.image)
				.field
					label Brand Ranking
					input(type="text", name="rank", value=brand.rank)
				.field
					label About Brand
					textarea(name="about")= brand.about
				button(type="submit").ui.blue.button.inverse Submit
				a(href="/brands").ui.red.button.inverse Cancel