.ui.modal
	.header Help
	ul
		li Must be logged in to add, edit or delete brand/comment.
		li You can only edit/delete brands and comments you create.
		li Ranking system isn't very accurate and still under construction.
