extends layout

block content
	h1 Welcome to Golf Brands
	p Rank your favorite golf brands.
	p Add new brands not on the list.
	p Write about them and add any interesting information you want.
	p Leave a comment and discuss further with others.
	button.ui.orange.labled.button
		a(href="/brands").goToBrands Go To Brands
