extends layout

block content
	.ui.container.homeBanner
		.ui.container.innerBanner
			h1.ui.huge.header.homeTitle Welcome to Golf Brands
			p.inst Rank your favorite golf brands.
			p.inst Add new brands not on the list.
			p.inst Write about them and add any interesting information you want.
			p.inst Leave a comment and discuss further with others.
			button.ui.orange.labled.button
				a(href="/brands").goToBrands Go To Brands
