doctype html
html
	head
		title= title
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css")
		link(rel="stylesheet", href="/stylesheets/main.css")
	body.body
		.container
			.ui.menu
				a(href="/").header.item Home
				a(href="/brands").item Brands
				a(href="/brands/new").item Add Brand
				.right.menu
					-if(!currentUser){
						a(href="/register").item Sign Up
						a(href="/login").item Login
					-} else {
						h5.header.item= "Signed in as " + currentUser.username
						a(href="/logout").item Logout
					-}
					a.item.help Help
		.ui.modal
			.header Help
			ul
				li Must be logged in to add, edit or delete brand/comment.
				li You can only edit/delete brands and comments you create.
				li Ranking system isn't very accurate and still under construction.

		.mainContainer
			block content
				
			

		script(src="https://code.jquery.com/jquery-3.2.1.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js")
		script(src="/JavaScript/main.js")