extends layout

block content
	.buffer
	h1.ui.huge.header Login
	.ui.login
		form(action="/login", method="POST").ui.form
			.field.inline.loginpage
				label.login Username
				input(type="text", name="username", placeholder="username")
			.field.inline.loginpage
				label.login Password
				input(type="password", name="password", placeholder="password")
			.field
				input(type="submit").ui.button.inverse.teal
