extends layout

block content
	h1.logRegHeader Login
	.ui.login
		form(action="/login", method="POST").ui.form
			.field.inline.loginpage
				label.login Username
				input(type="text", name="username", placeholder="username")
			.field.inline.loginpage
				label.login Password
				input(type="password", name="password", placeholder="password")
			.field
				input(type="submit").ui.button.inverse.teal
	h4 Don't Have an Account?
	a(href="/register").ui.button.green Go to Register!
