extends layout

block content
	.buffer
	h1 Register
	form(action="/register", method="POST")
		input(type="text", name="username", placeholder="username")
		input(type="password", name="password", placeholder="password")
		input(type="submit")