
html {
	height: 100vh;
}

body.body{
	background-image: url('http://imavex.vo.llnwd.net/o18/clients/monarchbeach/images/2016_-_home_-_main_banner/mainbanner.jpg');
	background-size: stretch;
	text-align: center;
	background-repeat: no-repeat;
	height: 100vh;
	padding-bottom: 10px;
}

.mainContainer{
	height: 100vh;
	padding: 0;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.buffer {
	height: 50px;
}

.showDiv{
	height: 100%
	margin-bottom: 100px;
}

/*HOME PAGE STYLE*/
.ui.container.homeBanner{
	width: 100% !important;
	height: 100vh;
	margin-bottom: 0;
	background-image: url("http://cdnak1.psbin.com/img/mw=2000/cr=n/d=bkj8k/1a6xaliymj1pr27f.jpg");
	background-size: cover;
	color: white;
	margin: 0 !important;
	padding: 0;
}
.ui.container.innerBanner{
	width: 100%;
	height: 100%;
	padding-top: 5%;
	margin: 0 !important;
	background: rgba(100,100,100,0.3);
}

.homeTitle.huge.header {
	color: white;
	font-size: 3.3em;
}

.ui.container.homeCont{
	width: 100%;
	padding: 2.0rem;
	margin-top: 1px;
}
/*SLIDE INSTRUCTIONS*/

.inst {
	font-size: 1.6em;
	color: #0095FF;
	padding: 40px;
}


/*LOGIN STYLE*/

.ui.form .inline.field>label, .ui.form .inline.field>p, .ui.form .inline.fields .field>label, .ui.form .inline.fields .field>p, .ui.form .inline.fields>label {
	font-size: 18px;
	color: #f6f6f6;
}

.ui.register, .ui.login{
	margin: 20px auto 30px auto;
	border: 2px solid rgba(0,0,0,0.5);
	border-radius: 10px;
	padding: 30px;
	display: inline-block;
	background-color: rgba(0,0,0,0.3);
}

.ui.teal.button {
	margin: 0;
	width: 100%;
}
.ui.button.green {
	margin-top: 0;
}

.logRegHeader {
	padding-top: 30px;
	font-size: 2.9em;
	color: #e5e5e5;
	text-shadow: 2px 2px 1px rgba(0,0,0,0.2);
}
/*END OF LOGIN/REGISTER */

.innerContainer {
	width: 75%;
	height: 100vh;
	margin: 0 auto 50px auto;
}

.ui.segment.show {
	padding: 20px;
	margin-bottom: 20px;
}


h1.golfBrands {
	font-size: 4em;
	color: #eee;
	text-shadow: 2px 2px 1px rgba(0,0,0,.5);
	margin-top: 0;
}

.item.about{
	margin: 2.0em;
}

.ui.button {
	margin-top: 20px;
}

.deleteBtnForm{
	display: inline;
}

.ui.top.attached.segment {
	border-radius: 25px;
	padding: 30px 15px;
	box-shadow: 3px 3px 1px 1px rgba(0,0,0,.5);
	margin-bottom: 10px;
}

/*COMMENTS*/

.ui.comments {
	text-align: left;
}
.commentContainer {
	height: 100%;
	display: block;
}

.ui.orange.labled.submit.button.addComment {
	margin-bottom: 5px;
	float: left;
}

.comAuthDel {
	display: flex;
	justify-content: space-between;
	padding: 3px;
}

.commentAuthor {
	font-weight: bold;
	font-size: 1.2em;
	width: 70%;
	margin-bottom: 0;
}

.delComForm {
	width: 20%;
	text-align: right;
}

.ui.button.deleteComment {
	margin-top: 0;
}

span.cinema.commentDate {
	font-size: 0.8em;
	font-weight: lighter;
}

.footer{
	width: 100%;
	padding: 15px;
	background-color: #ddd;
}

.goToBrands{
	text-decoration: none;
	color: white;
}

@media screen and (min-width: 768px){
	.ui.top.attached.segment {
		width: 70%;
		margin: 10px auto;
	}
}







