
html {
	height: 100vh;
}

body.body{
	background-image: url('http://imavex.vo.llnwd.net/o18/clients/monarchbeach/images/2016_-_home_-_main_banner/mainbanner.jpg');
	background-size: stretch;
	text-align: center;
	background-repeat: no-repeat;
	height: 100vh;
	padding-bottom: 0;
}

.buffer {
	height: 50px;
}

.showDiv{
	height: 100%
	margin-bottom: 100px;
}

.ui.container.homeBanner{
	width: 100%;
	height: 100vh;
	margin-bottom: 0;
	background-image: url("http://cdnak1.psbin.com/img/mw=2000/cr=n/d=bkj8k/1a6xaliymj1pr27f.jpg");
	background-size: cover;
	color: white;
}
.ui.container.innerBanner{
	width: 100%;
	height: 100%;
	padding-top: 5%;
	background: rgba(100,100,100,0.3);
}

.homeTitle.huge.header {
	color: white;
	font-size: 3.3em;
}

.ui.container.homeCont{
	width: 100%;
	padding: 2.0rem;
	margin-top: 1px;
}

.ui.login{
	margin: 20px auto 100px auto;
}
label.login {
	font-size: 18px !important;
}


.ui.register{
	margin: 20px auto 100px auto;
}

.mainContainer{
	height: 100vh;
}

.innerContainer {
	width: 75%;
	height: 100vh;
	margin: 0 auto 50px auto;
}

.ui.segment.show {
	padding: 20px;
	margin-bottom: 20px;
}

.ui.comments {
	text-align: left;
}
.commentContainer {
	height: 100%;
	display: block;
}

h1.golfBrands {
	font-size: 4em;
	color: #eee;
}

.item.about{
	margin: 2.0em;
}

.ui.button {
	margin-top: 20px;
}

.deleteBtnForm{
	display: inline;
}

.ui.top.attached.segment {
	border-radius: 25px;
	padding: 30px 15px;
}

.ui.orange.labled.submit.button.addComment {
	margin-bottom: 5px;
	float: left;
}

.footer{
	width: 100%;
	padding: 15px;
	background-color: #ddd;
}

.goToBrands{
	text-decoration: none;
	color: white;
}